/* ------------------- Variables ------------------- */
:root {
    --net-orange: rgb(255, 103, 29);
    --net-blue: rgb(0, 38, 58);
    --app-grey: rgb(180, 180, 180);
    --app-grey-t: #00000040;
    --app-background: #ffffff;
    --text-white: #ffffff;
    --text-black: #000000;
    --files-area_event: #00d9ff90;
}

/* ------------------- Webkit ------------------- */

::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: var(--net-blue);
}

::-webkit-scrollbar {
    border-left: solid 2px var(--text-black);
}

/* ------------------- Global ------------------- */

body {
    overflow: hidden;
    margin: 0px;
    font: bold;
    font-family: 'cascadia code';
    width: 100%;
    height: 100vh;
    background-color: var(--app-background);
}

header {
    width: 100%;
    height: 28%;
}

main {
    overflow: hidden;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

#drop-files-routes.active,
#drop-files-csv.active,
#drop-files.active {
    border: dashed 2px var(--text-black);
    background-color: var(--files-area_event);
}

/* ------------------- Keyframes ------------------- */

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

#loader,
#loader-xml {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    animation: spin 1.2s linear infinite;
    background: linear-gradient(to top, var(--net-orange), var(--net-blue));
}

#loader::before,
#loader-xml::before {
    content: '';
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    background-color: var(--app-background);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* ------------------- Definitions ------------------- */
header,
#content-app {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#header,
#content-2,
#mtf-spacer,
#desc-route,
#header-path,
#route-section,
#main-settings,
.files-content-data,
#drop-files-content,
#slide-content-titles,
.content-app-sections,
#drop-files-csv-content,
#drop-files-routes-content {
    display: flex;
    flex-direction: row;
}

#route-section,
#slide-content-titles {
    flex-wrap: wrap;
    justify-content: space-evenly;
}

main,
footer,
#icon-app,
#app-title,
#drop-files,
#mtf-section,
#loading-card,
#welcome-title,
.unique-button,
ordinary-button,
#drop-files-csv,
.ordinary-button,
#loading-card-h1,
#loading-card-xml,
#files-viewer-button,
#strict-confirmation,
#drop-files-csv-content,
#drop-files-routes-content,
#loading-card-h1-xml,
#drop-files-routes {
    display: grid;
    place-items: center;
}

/* ------------------- Styles ------------------- */
#content-app {
    width: 80%;
}

#content-1 {
    margin: 35px 0 0 0;
}

#content-2 {
    justify-content: space-around;
    margin: 15px 0 0 0;
}

.content-app-sections {
    align-items: center;
    width: 100%;
}

#app-title {
    width: 60%;
}

#welcome-title {
    width: 40%;
    color: var(--text-white);
    border-radius: 0 100px 0 0;
    background-color: var(--net-orange);
}

#content-app hr {
    margin: 0;
    width: 99%;
    border: 5px solid #000;
    border-radius: 0 5px 5px 0;
}

#icon-app {
    width: 20%;
    height: 100%;
}

.unique-button,
.ordinary-button {
    margin: 0;
    padding: 0;
    width: 80px;
    height: 40px;
    border: none;
    border-radius: 20px;
    color: var(--text-white);
}

.ordinary-button {
    background-color: var(--net-blue);
}

.ordinary-button>h3 {
    margin: 0;
}

.unique-button {
    background-color: var(--net-orange);
}

#route-section {
    align-items: center;
    width: 30%;
}

#desc-route {
    width: 50%;
    height: 20px;
    border-radius: 20px;
    padding: 0 20px;
    caret-color: var(--net-orange);
}

#mtf-section {
    width: 20%;
}

#mtf-spacer {
    padding: 0;
    width: 135px;
    border-radius: 25px;
    border: 2px solid var(--text-black);
}

#mtf-button {
    width: 65%;
}

.button-state-desable,
.button-state-enable {
    transition: all .2s ease;
}

.input-state-desable {
    background-color: var(--app-grey);
}

.input-state-enable {
    background-color: var(--app-background);
}

.button-state-desable {
    background-color: var(--app-grey);
    justify-content: flex-start;
}

.button-state-enable {
    background-color: var(--net-orange);
    justify-content: flex-end;
}

/* ------------------- Main Section ------------------- */
main {
    position: relative;
    width: 100%;
    min-width: 30%;
    height: 55%;
    padding: 20px 0;
}

#drop-files {
    width: 95%;
    height: 100%;
    border-radius: 20px;
    border: dashed 2px var(--text-black);
    background-color: var(--app-grey);
}

footer {
    width: 100%;
    height: 5%;
}

#background-image {
    z-index: -5;
    position: absolute;
    filter: opacity(0.1);
    transform: rotate(35deg) translate(-90px, 90px) scale(1.1);
}

/* ------------------- Events Styles ------------------- */
.on {
    color: var(--text-black);
    border: 2px solid var(--text-black);
    background-color: var(--app-background);
}

#loading-card,
#loading-card-xml {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--app-grey-t);
}

#loading-card-h1,
#loading-card-h1-xml {
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    border: 2px solid var(--text-black);
    background-color: var(--app-background);
}

.show {
    z-index: 1000;
    opacity: 1;
}

.unshow {
    z-index: -1000;
    opacity: 0;
}

.viewFiles-off {
    height: 0;
    position: absolute;
    visibility: hidden;
}

#files-viewer-content {
    padding-top: 10px;
    width: 100%;
    height: 80%;
    overflow: hidden;
    overflow-y: auto;
}
#files-viewer {
    width: 90%;
    height: 360px;
    border-radius: 20px;
    border: dashed 2px var(--text-black);
    background-color: var(--app-grey);
}

#files-viewer-button {
    border-top: solid 2px var(--text-black);
    width: 100%;
    height: 17%;
}

#strict-confirmation {
    width: 50%;
    align-content: center;
}

.files-content-data {
    padding: 0 0 0 10px;
    width: 90%;
    justify-content: space-between;
    border-left: solid 5px var(--text-black);
}

.files-content {
    margin-bottom: 10px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.file-name {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.file-size {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.file-button {
    width: 10%;
}

@media screen and (max-width: 1130px) {

    #drop-files-csv-content,
    #drop-files-routes-content {
        align-items: center;
        display: flex;
        flex-direction: column;
    }
}