<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Styles/folders.css">
    <title>RollOut Generator | search folder</title>
</head>

<body>
    <img src="./Resource/PKG-Final.png" alt="background-image" id="background-image">
    <header>
        <div id="header-path">
            <button id="backward" class="original-button">
                <img src="./Resource/Arrow-image.png" alt="Backward" width="40px" height="40px">
            </button>
            <h2 id="path-text">Ruta Actual:&nbsp;</h2>
            <input type="text" name="path" id="current-path" value="" disabled>
        </div>
    </header>
    <main id="ui">

    </main>
    <footer>
        <div id="buttons-operations">
            <button id="confirm-exit" class="unique-button">
                <h2>Cancelar</h2>
            </button>
        </div>
    </footer>
    <script src="../Scripts/folder.js"></script>
</body>

</html>