<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>Mover Archivos</title>
  <link rel="stylesheet" href="../Styles/index.css" />
  <link rel="shortcut icon" href="../../Resources/NetLogistiK.jpeg" type="image/x-icon">
</head>

<body>
  <h1>Bienvenido Usuario</h1>
  <header>
    <button id="filesSettingsButton1">Reinicar Configuracion</button>
    <button id="filesSettingsButton2">Ver Locales</button>
    <button id="filesSettingsButton3">Definir Configuracion</button>
  </header>
  <main>
    <div id="filesJavaSwitch" class="MTFDesactive">
      <h3 id="filesJavaSwitchText">Archivos MTF Inhabilitado</h3>
    </div>
    <div id="filesArea1" class="inactive">
      <h1 class="filesAreaText1">Sube los archivos</h1>
      <input type="file" name="files" id="inputFiles1" multiple hidden />
    </div>
  </main>
  <script src="../Scripts/index.js"></script>
</body>

</html>