<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Styles/index.css">
    <link rel="stylesheet" href="../Styles/XMLSettings.css">
    <link rel="shortcut icon" href="../../Resources/NetLogistiK.jpeg" type="image/x-icon">
    <title>Change Settings</title>
</head>

<body>
    <main id="main2">
        <div id="filesArea2" class="inactive">
            <h1 class="filesAreaText2">Sube XML de rutas</h1>
            <input type="file" name="filesXMLRoutes" id="inputFiles2" multiple hidden />
        </div>
        <div id="filesArea3" class="inactive">
            <h1 class="filesAreaText3">Sube XML de tablas</h1>
            <input type="file" name="filesXMLPolicies" id="inputFiles3" multiple hidden />
        </div>
    </main>
    <script src="../Scripts/ConfigXML.js"></script>
</body>

</html>