<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Mover Archivos</title>
    <link rel="stylesheet" href="../Styles/getLocalRoute.css" />
</head>

<body>
    <main>
        <div class="main-1">
            <header>
                <h1>coloca la ruta de importacion</h1>
            </header>
            <div id="filesArea" class="inactive">
                <input type="text" name="files" id="inputRoute" />
            </div>
            <section class="buttonContainer">
                <input type="button" value="Definir ruta" id="ButtonRoute">
            </section>
        </div>
    </main>
    <script src="../Scripts/WindowSettings.js"></script>
</body>

</html>